/*    These classes are only used for a specific task they are a great tool

When we think of utility functions we think of how we will be doing the spacing we don't want to hardcode the the pixels in there already we want to instead name them differently

*/
.u-center-text{
 text-align: center;
}
.u-margin-bottom-big{
 margin-bottom: 8rem;
}
.u-margin-bottom-small{
 margin-bottom: 1.5rem;
}
.u-margin-bottom-medium{
 margin-bottom: 4rem;
}
