// @import "../../scss/abstract/variables.scss";
/* To use BEM to it's full advantage with Sass and nesting we can use the & operator to copy the part of the overarching parent class. for example header is our class for the top page, therefore to nest we would do the following
 .header{
  &__logo-box{
    position: absolute;
    top:4rem;
    left:4rem;
   }
 }
 the & copies only the header portion before the clojure and adds it to the the nesting lines

*/


.header{
 height: 95vh;
 background-image:
  linear-gradient(
   to right bottom,
   rgba($color-primary-light, .8),
   rgba($color-primary-dark,.8)),
  url(./img/hero.jpg);
// imports for images are based on the main file
 background-size: cover;
 background-position: top;
 position: relative;
 clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
 &__logo-box{
  position: absolute;
  top:4rem;
  left:4rem;
 }
 &__logo{
 height:3.5rem;
 }
 &__logo:hover{
  animation: moveInLeft .5s ease-out;
 }
 &__text-box{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
 }
}
